@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

body {
    background: var(--bg-black);
    overflow-x: hidden;
}

:root {
    font-size: 62.5%;

    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --lighter-brown: #FEFAE1;
    --blur-gray: rgb(199, 199, 199,0.22);
    --gray-purple: #43404A;
    --orange: #DAA062;
    --yelled-gray: #727065;
    --almost-lime: #A2BF46;
    --lime: #8bd629;
    --forest-green: #606C38;
    --dark-green: #2B311A;
    --cyan: #00E6FF;
    --turquoise: #13AEBF;
    --dark-blue: #0D1E28;
    --white: #FFF;

    --matheus-color: #566134;
    --joao-color: #A2BF46;
    --eduardo-color: #FEFAE1;
    --phelipe-color: #00E6FF;
    --hianna-color: #1A4660;
}

.blur {
    backdrop-filter: blur(5px);
}

