@import url(header.css);
@import url(base.css);

:root {
    font-size: 62.5%;

    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --lighter-brown: #F4E2CE;
    --blur-gray: rgb(199, 199, 199,0.22);
    --gray-purple: #43404A;
    --orange: #DAA062;
    --yelled-gray: #727065;
    --almost-lime: #A2BF46;
    --forest-green: #606C38;
    --white: #FFF;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-black);
    font-family: sans-serif;
}

#descricao {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
    max-width: 50rem;
}

main {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameplay {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    height: 80%;
    width: 80%;
}

.caixa {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
   height: 100%;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-box .tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--forest-green);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
}
    
.container img {
    max-width: 22.5rem;
    height: auto;
    object-fit: contain;
}

.perguntas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
    margin-top: 5rem;
    height: 100%;
}

.perguntas button {
    display: flex;
    background: none;
    border: 1px solid var(--white);
    height: 100%;
    max-width: auto;
    color: var(--white);
    font-size: 1.6rem;
    padding: 1rem;
    cursor: pointer;
}

.perguntas button:hover {
    background: #ffffff13;
}

#sair {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 2rem;
    background-color: var(--forest-green);
    border: none;
    padding: 1rem;
    border-radius: 50%;
    max-height: 5.5rem;
    max-width: 5.5rem;
}

#sair:hover {
    background-color: var(--almost-lime);
}

.nivel {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--white);
    font-weight: 600;

    p {
        font-size: 1.6rem;
    }
}

.result-popup {
    background: rgba(37, 35, 41, 0.475);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #252329;
        padding: 2rem;
        border-radius: 2rem;
        width: 70rem;
        height: 50rem;
        z-index: 101;

        img {
            padding: 2rem;
            border-radius: 50%;
            width: 20rem;
            height: 20rem;
            border: 0.5rem solid white;
        }
        .right {
            background: var(--forest-green);
        }
        .wrong {
            background: #d33b3b;
        }

        p {
            background: var(--gray-purple);
            padding: 1rem 3rem;
            border-radius: 0.5rem;
            color: white;
        }

        .quantidade-pontos {
            font-size: 2.4rem;
            font-weight: 700;
            margin-top: 1rem;
        }

        .info {
            font-size: 1.6rem;
            margin-top: 5rem;
        }

        button {
            background: var(--forest-green);
            border: none;
            color: white;
            margin-top: 3rem;
            padding: 1rem 4rem;
            border-radius: 0.5rem;
        }
    }
}

.exit-popup {
    background: rgba(37, 35, 41, 0.475);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background: #252329;
        padding: 2rem;
        border-radius: 2rem;
        width: 40rem;
        height: 30rem;
        z-index: 102;

        img {
            width: 7rem;
        }

        p {
            color: white;
            font-size: 1.2rem;
        }

        .buttons {
            display: flex;
            gap: 2rem;

            button {
                padding: 0.75rem 4.5rem;
                border: none;
                border-radius: 10rem;
            }

            #yes {
                background: var(--lighter-brown);
                color: var(--forest-green);
            }

            #no {
                background: var(--forest-green);
                color: var(--lighter-brown);
            }
        }
    }
}

.hidden {
    display: none;
}