.main {
    background-image: url(../assets/habitats-naturais/BG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 60rem;
    width: 100vw;
    max-width: 192rem;

    .text-box {
        background-color: var(--blur-gray);
        height: 100%;
        width: 55rem;

        h1 {
            position: relative;
            top: 35%;
            left: 30rem;
            font-size: 11rem;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--white);
        
            span:not(.naturais) {
                opacity: 0.5;
            }
        
            .naturais {
                position: relative;
                left: -7.5rem;
                font-size: 10rem;
            }
        }
    }
}