@import url(./base.css);
@import url(./header.css);

body {
    background: var(--bg-black);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

main img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 10rem;
    margin-inline: 2rem;
}

.main {
    background-image: url(../assets/habitats-naturais/BG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 60rem;
    width: 100vw;
    max-width: 192rem;

    .text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blur-gray);
        height: 100%;
        width: 55rem;

        h1 {
            font-size: 8rem;
            font-weight: 700;
            color: var(--white);

            span {
                color: var(--almost-lime);
                margin-left: 4rem;
            }
        }
    }
}

hr {
    margin-inline: auto;
    width: 80rem;
    border: 1px solid var(--orange);
}

.right, .left {
    display: flex;
    justify-content: center;
    margin-block: 5rem;

    .text-box {
        gap: 2rem;
        width: 60rem;

        h2 {
            font-size: 24px;
            max-width: 45rem;
        }

        p {
            max-width: 50rem;
            font-size: 14px;
        }

        a {
            color: var(--almost-lime);
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
        }
    }
}

.right {
    text-align: right;
    color: var(--white);
    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
    
}

.left {
    text-align: left;
    color: var(--white);
    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

}