header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--orange);
    height: 10rem;
    max-width: calc(192rem - 2vw);
    font-size: 14px;

    .logo {
        width: 8rem;
        margin-left: 1.5rem;
    }

    ul {
        list-style-type: none;
    }

    .links .nav-menu-list {
        display: flex;
        margin-right: 1.5rem;
    }

    .nav-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: 1rem;

        a {
            color: var(--white);
            text-decoration: none;
        }

        #user-header {
            display: none;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            img {
                width: 5rem;
            }
            span {
                color: var(--white);
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }

    #nav-login-button {
        color: var(--lighter-brown);
        border: var(--light-brown) 0.2rem solid;
        padding: 0.75rem 2rem;
        border-radius: 1rem;
    }

    #popup {
        background-color: #0000008c;
        border: 2px solid var(--orange);
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 7rem;
        z-index: 99;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-between;
            padding: 0.75rem;

            li {
                margin-block: 0.5rem;
            }

            a {
                color: var(--white);
                text-decoration: none;
            }

            hr {
                width: 80%;
                border: 1px solid var(--orange);
            }
        }
    }

    .hiddenPopup {
        display: none;
    }
}

.rodape {
    height: 10rem;
    width: 128rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 8rem;
    }

    .links {
        color: var(--white);
        display: flex;
        align-items: center;
        margin-inline: auto;

        div {
            margin-inline: 1rem;
            background-color: var(--white);
            height: 15px;
            width: 2px;
        }

        p {
            margin-right: 0.25rem;
        }

        a {
            color: var(--white);
            margin-left: 0.75rem;
            text-decoration: none;
        }
    }
}