header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--light-brown);
    margin-inline: 1rem;
    height: 10rem;
    font-size: 14px;

    .links .nav-menu-list {
        display: flex;
        margin-right: 3rem;
    }

    .nav-menu-item {
        list-style-type: none;
        margin-inline: 1rem;

        a {
            color: var(--white);
            text-decoration: none;
        }
    }
}