@import url(header.css);
@import url(base.css);


:root {
    font-size: 62.5%;

    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --lighter-brown: #F4E2CE;
    --blur-gray: rgb(199, 199, 199,0.22);
    --gray-purple: #43404A;
    --orange: #DAA062;
    --yelled-gray: #727065;
    --almost-lime: #A2BF46;
    --forest-green: #606C38;
    --white: #FFF;
}


body {  
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-black);
}

h1 {
    color: var(--white);
    font-size: 72px;
    margin-inline: auto;
    font-size: 48px;

}

h2 {
    color: var(--almost-lime);
    font-size: 30px;
}

p {
    color: var(--white);
    font-size: 17px;
}

.game {
    height: 70vh;
    width: 80vw;
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
}

.containers {
    display: flex;
    margin-block: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    div{
        height: fit-content;
        width: 100%;
    }

    img {
        height: 144px;
    }

    input {
        border: 2px solid var(--light-brown);
        padding: 1rem;
        width: 25rem;
        background: var(--bg-black);  
        color: var(--lighter-brown);
        font-size: 1.5rem; 
        outline: none;
    }

    input:focus {
        outline: none;
    }

    .login-button {
        border: 2px solid var(--light-brown);
        padding: 1rem 2.5rem;
        background: var(--bg-black);  
        color: var(--lighter-brown);
        font-size: 1.5rem; 
        outline: none;
        text-decoration: none;
    }
}

.numero1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2.5rem;

    p {
        max-width: 35rem;
    }
}

.aprendeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;

    p {
        span {
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--lime);
        }
    }

    a {
        background: var(--forest-green);
        padding: 1rem 4rem;
        color: var(--white);
        text-decoration: none;
        font-size: 1.2rem;
    }
}