@import url(header.css);
@import url(base.css);


:root {
    font-size: 62.5%;

    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --lighter-brown: #F4E2CE;
    --blur-gray: rgb(199, 199, 199,0.22);
    --gray-purple: #43404A;
    --orange: #DAA062;
    --yelled-gray: #727065;
    --almost-lime: #A2BF46;
    --forest-green: #606C38;
    --white: #FFF;
}


body {  
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-black);
}

h1 {
    color: var(--white);
    font-size: 72px;
    margin-inline: auto;
    font-size: 48px;

}

h2 {
    color: var(--almost-lime);
    font-size: 30px;
}

p {
    color: var(--white);
    font-size: 17px;
}

.game {
    border: 2px solid red;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.containers {
    display: flex;
    margin-block: auto;
    text-align: center;
    div{
        width: 50%;
    }

    img {
        height: 144px;
    }

    button {
        border: 2px solid var(--light-brown);
        padding: 10px 28px;
        background: var(--bg-black);  
        color: var(--lighter-brown);
        font-size: 1.5rem; 
      }
}

.numero1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 10px;
}