@import url(./base.css);
@import url(./header.css);

:root {
    font-size: 62.5%;

    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --lighter-brown: #FEFAE1;
    --blur-gray: rgb(199, 199, 199,0.22);
    --gray-purple: #43404A;
    --orange: #DAA062;
    --yelled-gray: #727065;
    --almost-lime: #A2BF46;
    --lime: #8bd629;
    --forest-green: #606C38;
    --dark-green: #2B311A;
    --cyan: #00E6FF;
    --turquoise: #13AEBF;
    --dark-blue: #0D1E28;
    --white: #FFF;

    --matheus-color: #566134;
    --joao-color: #A2BF46;
    --eduardo-color: #FEFAE1;
    --phelipe-color: #00E6FF;
    --hianna-color: #1A4660;
}

body {
    background: url(../assets/login/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

main section {
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    border: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 95rem;
    max-height: 65rem;
    width: 80vw;
    height: 90vh;

    h1 {
        color: var(--almost-lime);
    }

    button:hover {
        cursor: pointer;
    }

    .login, .cadastro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        h1 { text-transform: uppercase; font-size: 3rem; }

        a {
            text-decoration: none;
            color: var(--almost-lime);
            margin-left: auto;
        }

        button {
            background: var(--almost-lime);
            border: none;
            padding: 1rem 7rem;
        }
    }

    .login { gap: 3rem; }
    .cadastro { gap: 2rem; opacity: 0; }

    .cadastro .container { width: 80%;}
    .cadastro input { width: 100%; }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .input-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                width: 2rem;
                margin-inline: 1rem;
            }

            input {
                color: var(--white);
                border: 1px solid var(--white);
                background: none;
                padding: 1rem;
            }

            input::-webkit-calendar-picker-indicator {
                filter: invert(100%);
            }
        }
    }

    .data-inputs {
        display: flex;
        gap: 1.5rem;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button { 
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        align-items: center;
        position: absolute;
        transform: translate(50%);

        max-width: 47.5rem;
        max-height: 65rem;
        width: 80vw;
        height: 90vh;

        background: rgba(37, 41, 27, 0.75);
        padding: 1rem;

        p {
            text-align: center;
            color: var(--white);
            font-weight: 600;
            font-size: 1.6rem;
        }

        #alternate-divs {
            border: 1px solid var(--white);
            background: none;
            padding: 1rem 2rem;
            border-radius: 1rem;
            color: var(--white);
        }
    }
}

button, input {
    border-radius: 0.35rem;
}

.right {
    animation: right 1s ease forwards;
}

.left {
    animation: left 1s ease forwards;
}

.fadeIn {
    animation: fadeIn 1.25s ease forwards;
}

.fadeOut {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes right {
    from {
        transform: translate(-50%);
    }
    to {
        transform: translate(50%);
    }
}

@keyframes left {
    from {
        transform: translate(50%);
    }
    to {
        transform: translate(-50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}