@import url(header.css);
@import url(base.css);

:root {
    font-size: 62.5%;

    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --lighter-brown: #F4E2CE;
    --blur-gray: rgb(199, 199, 199,0.22);
    --gray-purple: #43404A;
    --orange: #DAA062;
    --yelled-gray: #727065;
    --almost-lime: #A2BF46;
    --forest-green: #606C38;
    --white: #FFF;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-black);
    font-family: sans-serif;
}

h1 {
    color: var(--white);
    
}

p {
    color: var(--white);
}