@import url(./header.css);
@import url(./base.css);

:root {
    font-size: 62.5%;

    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --lighter-brown: #F4E2CE;
    --base-yellow: #FEFAE0;
    --blur-gray: rgb(199, 199, 199,0.22);
    --gray-purple: #43404A;
    --orange: #DAA062;
    --yelled-gray: #727065;
    --almost-lime: #A2BF46;
    --forest-green: #606C38;
    --white: #FFF;
}

body {
    background: var(--bg-black);
    color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    
    section:not(:first-child) {
        max-width: 100rem;
        margin-block: 2.5rem;
    }

    hr {
        width: 75rem;
        border: 1px solid var(--orange);
    }

    .main {
        height: 40rem;
        width: 100%;
        background-image: url(../assets/home/home-bg.png);
        background-position: center;
        background-size: cover;
        .text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            height: 100%;
            width: 50%;
            background-color: var(--blur-gray);

            h1 {
                font-size: 72px;
                margin-left: 3rem;
                span {
                    color: var(--almost-lime);
                }
            }

            p {
                font-size: 20px;
                margin-left: 4rem;
            }
        }
    }

    .tour {
        padding: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50rem;
        .text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40rem;
            width: 100%;
            h2 {
                margin-bottom: 2rem;
                font-size: 30px;
            }

            p{
                max-width: 35rem;
                margin-bottom: 3rem;
                font-size: 1.25rem;
            }

            button {
                color: var(--white);
                background-color: var(--forest-green);
                height: 4rem;
                width: 10rem;
                padding: 1rem;
                border-radius: 30px;
                text-align: center;
                border: none;
                outline: none;
            }

            span {
                color: var(--almost-lime);
            }
        }

        .img-box {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            height: 40rem;
            width: 100%;
            img, .img1 {
                border: var(--yelled-gray) 2px solid;
                height: 22rem;
                width: 12.5rem;
            }

            img {
                filter:brightness (75%);
                margin-block: 10rem;
            }
            .img1 {
                background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../assets/home/raposa.png);
                margin-block: 8rem;
                p {
                    font-size: 1.55rem;
                    font-weight: 700;

                    text-align: center;
                    span {
                        color: var(--almost-lime);
                    }
                }
            }
        }
    }    

    .vida-selvagem {
        display: flex;
        justify-content: center;
        align-items:  center;
        gap: 7rem;
        height: 40rem;

        img {
            max-height: 40rem;
        }

        h2 {
            color: var(--white);
            font-size: 30px;
            span {
                color: var(--almost-lime);
            }
        }

        p {
            max-width: 300px;
            font-size: 12.5px;
            margin-block: 2.5rem;
        }
        
        .text-box {
            display: flex;
            flex-direction: column;

            button {
                padding: 10px;
                margin-inline: auto;
                outline: none;
                border: none;
                background-color: var(--base-yellow);
                color: var(--forest-green);
            }
        }
    }

    .paginas .siema{
        display: flex;
        max-width: 750px;
        height: 400px;
        font-size: 12px;

        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            border-radius: 10px;
            padding-right: 2rem;

            button {
                background: none;
                color: var(--white);
                border: 2px solid var(--lighter-brown);
                border-radius: 10rem;
                padding: 0.5rem;
                max-width: 10rem;
            }
        }
    }

    .canais .siema {
        display: flex;
        gap: 3rem;
        max-width: 750px;
        height: 300px;
        font-size: 12px;

        .item {
            display: flex;
            flex-direction: column;
            text-align: center;
            border: 2px solid var(--gray-purple);
            border-radius: 10px;
            padding: 10px;

            img {
                height: 175px;
                border: var(--orange) 2px solid;
                border-radius: 50%;
            }

            a {
                margin-block: auto;
                color: var(--white);
                text-decoration: none;
                font-size: 14px;
            }
        }
    }
}

.rodape {
    border: red solid 1px;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
        display: flex;
        align-items: center;

        div {
            background-color: var(--white);
            height: 15px;
            width: 2px;
        }
    }
}

.blur {
    backdrop-filter: blur(5px);
}