* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

:root {
    --bg-black: #171619;
    --light-brown: #E9D5C4;
    --white: #FFF;
}

body {
    background: var(--bg-black);
    color: var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--light-brown);
    margin-inline: 1rem;
    height: 7.5rem;

    .links .nav-menu-list {
        display: flex;
        margin-right: 3rem;
    }

    .nav-menu-item {
        list-style-type: none;
        margin-inline: 1rem;

        a {
            color: var(--white);
            text-decoration: none;
        }
    }
}

main {


    .tour {
        /*Mudar aqui*/
        background-image: url(./assets/images/arara.png);
    }    
}