* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

:root {
    --bg-black: #171619;
    --blur-gray: rgba(200, 200, 200, 0.22);
    --light-brown: #E9D5C4;
    --white: #FFF;
}

body {
    background: var(--bg-black);
    color: var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--light-brown);
    margin-inline: 1rem;
    height: 7.5rem;
    z-index: 1;

    .links .nav-menu-list {
        display: flex;
        margin-right: 3rem;
    }

    .nav-menu-item {
        list-style-type: none;
        margin-inline: 1rem;

        a {
            color: var(--white);
            text-decoration: none;
        }
    }
}

main {
    display: flex;
    flex-direction: column;

    .tour {
        /*Mudar aqui*/
        display: flex;
    }    
}

.main {
    background-image: url(./assets/images/fundohome.jpg);
    background-size: cover;
    background-position: center;
    height: 30rem;
}

.blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blur-gray);
    width: 50%;
    height: 100%;
    backdrop-filter: blur(3px);

    h1, p {
        margin-left: 4.5rem;
    }
}